# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/
env/
.env

# Database
data/*.db
data/*.log
data/*.sqlite3

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.gemini/
